<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.guruapp_1">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GuruApp_1"
        tools:targetApi="31">
        <activity
            android:name=".VacationActivity"
            android:exported="false"
            android:parentActivityName=".ShuttleBusMainActivity" />
        <activity
            android:name=".ShuttleBusMainActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".QnaActivity"
            android:exported="false"
            android:parentActivityName=".ShuttleBusMainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MapActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Map2Activity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".KidokActivity"
            android:exported="false"
            android:parentActivityName=".Map2Activity" />
        <activity
            android:name=".ShalomActivity"
            android:exported="false"
            android:parentActivityName=".MapActivity" />
        <activity
            android:name=".InsagwanActivity"
            android:exported="false"
            android:parentActivityName=".MapActivity" />
        <activity
            android:name=".Insagwan2Activity"
            android:exported="false"
            android:parentActivityName=".Map2Activity" />
        <activity
            android:name=".AuditoriumActivity"
            android:exported="false"
            android:parentActivityName=".MapActivity" />
        <activity
            android:name=".LibraryCafeActivity"
            android:exported="false"
            android:parentActivityName=".MapActivity" />
        <activity
            android:name=".LibraryActivity"
            android:exported="false"
            android:parentActivityName=".Map2Activity" />
        <activity
            android:name=".JoyegwanActivity"
            android:exported="false"
            android:parentActivityName=".MapActivity" />
        <activity
            android:name=".Joyegwan2Activity"
            android:exported="false"
            android:parentActivityName=".Map2Activity" />
        <activity
            android:name=".Anniversary50thActivity"
            android:exported="false"
            android:parentActivityName=".MapActivity" />
        <activity
            android:name=".Anniversary50th2Activity"
            android:exported="false"
            android:parentActivityName=".Map2Activity" />
        <activity
            android:name=".NurigwanActivity"
            android:exported="false"
            android:parentActivityName=".MapActivity" />
        <activity
            android:name=".Nurigwan2Activity"
            android:exported="false"
            android:parentActivityName=".Map2Activity" />
        <activity
            android:name=".Science1Activity"
            android:exported="false"
            android:parentActivityName=".Map2Activity" />
        <activity
            android:name=".Science2Activity"
            android:exported="false"
            android:parentActivityName=".Map2Activity" />
    </application>

</manifest>